#calendarAnchorDiv {
    margin-top: 0%;
    margin-bottom: 1%;
}

.panel-default>.panel-heading {
    background-color: #545454;
    color: white;
}

.panel-default {
    background-color: #808080;
    color: #810815;
}

.panel-default a {
    color: #810815;
    text-decoration: underline;
}

.calendarAnchor {
    display: inline-block;
}

#weekdayPanel>.table:last-child>tbody:last-child>tr:last-child td:last-child {
    text-indent: -9999px;
}

@media (max-width: 992px) {
    #calendarAnchorDiv {
        display: inline-block;
        padding-bottom: 1%;
        margin-top: 4%;
    }
    .calendarAnchor {
        display: inline-block;
        width: 152px;
    }
}

_:-ms-lang(x),
#calendarAnchorDiv {
    margin-top: 3%;
}